# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# IDEs
.idea/
.vscode/
*.swp

# Node
node_modules/

# Database
*.db
*.sqlite3
*.sqlite

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Logs
logs/
*.log

# Mac
.DS_Store

# Binary resources
resouce/*.zip
